html, body{
  width: 100%;
  height: 100%;
}
body{
  background: #114;
  overflow: hidden;
  font-family: sans-serif;
}
.window{
  background: #FEFEFE;
  box-sizing: border-box;
  border-radius: 5px;
  min-width: 200px;
  min-height: 200px;
  padding: 42px 8px 8px 8px;
  position: absolute;
  box-shadow: inset 0px 0px 0 2px #FEFEFE,
              inset 0px 0px 0 3px #CCC,
              0 5px 10px rgba(0,0,0,.5),
              0 0 5px rgba(0,0,0,.2);
}
.window--snap{
  position: absolute;
  font-weight: bold;
  top: 3px;
  left: 3px;
  width: calc(100% - 6px);
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #CCC;
  background: #03a9f4;
  color:#FEFEFE;
}
.window--resize{
  position: absolute;
  bottom: 3px;
  right: 3px;
  width: 16px;
  height: 16px;
}
.window--resize:after{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 4px;
  right: 4px;
  border: 4px solid #CCC;
  border-top: 4px solid transparent;
  border-left: 4px solid transparent;
}
.window--resize:hover:after{
  border: 4px solid #666;
  border-top: 4px solid transparent;
  border-left: 4px solid transparent;
}
