html, body{
  width: 100vw;
  height: 100vh;
}
body{
  background: #114;
  overflow: hidden;
  font-family: sans-serif;
}

/* IMPORTS */
@import './window.css';
@import './utils.css';
@import './window-button.css';
@import './button.css';
