html, body{
  width: 100vw;
  height: 100vh;
}
body{
  background: #114;
  overflow: hidden;
  font-family: sans-serif;
}
.window{
  box-sizing: border-box;
  border-radius: 0px;
  min-width: 200px;
  min-height: 200px;
  padding: 10px 8px 8px 8px;
  position: absolute;
  border-style: solid;
  border-image: url(/assets/pane.png) 38 12 22 fill repeat;
  border-width: 38px 12px 22px;
}
.window--snap{
  position: absolute;
  font-weight: bold;
  top: -34px;
  left: 3px;
  width: calc(100% - 6px);
  height: 32px;
  display: flex;
  padding:0 12px;
  box-sizing: border-box;
  align-items: center;
  color:#FEFEFE;
}
.window--snap .title{
  background: #5b6ee1;
  padding: 4px 8px;
}
.window--resize{
  position: absolute;
  bottom: 3px;
  right: 3px;
  width: 16px;
  height: 16px;
}
.window--spacer{
  width: 100%;
  height: 8px;
}
.window--spacer.lg{
  height: 16px;
}
.window--margins{
  margin: 8px;
}
.window--resize:after{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 4px;
  right: 4px;
  border: 4px solid #CCC;
  border-top: 4px solid transparent;
  border-left: 4px solid transparent;
}
.window--resize:hover:after{
  border: 4px solid #666;
  border-top: 4px solid transparent;
  border-left: 4px solid transparent;
}
.fullwidth{
  width: 100px;
  display: block;
}
label{
  color:#333;
  font-weight: bold;
  text-transform: uppercase;
  font-size:12px;
}
input{
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
  border-radius: 3px;
  background: #FFF;
  border:none;
  margin: 8px 0 16px 0;
  box-shadow: inset 0 0 0 1px #AAA;
}
input:focus{
  box-shadow: inset 0 0 0 1px #03a9f4;
}
button{
  background: #EEE;
  height: 32px;
  padding:0 12px;
  border-radius: 3px;
  line-height: 31px;
  text-align: center;
  color:#333;
  font-weight: bold;
  text-transform: uppercase;
  border:none;
  cursor:pointer;
  margin: 4px 0 8px 0;
  transform: translateY(1px);
}
button:focus, input:focus, textarea:focus{
  outline:none;
}
button:hover{
  background-color: #DDD;
}
button:active{
  background-color: #CCC;
}
button.primary{
  background-color: #333;
  color:#FFF;
}
button.primary:hover{
  background-color: #444;
}
button.primary:active{
  background-color: #555;
}
button.lg{
  height:48px;
  line-height: 47px;
  padding:0 16px;
}
button.sm{
  height:24px;
  padding:0 8px;
  line-height: 23px;
}
.buttons{
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#button-tabs{
  height: 64px;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  min-width: 64px;
  height:100vh;
  padding: 16px;
  background: #333;
  border-right: 2px solid #000;
}
.button-tab{
  width: 64px;
  height: 64px;
  position: relative;
  background: url("/assets/buttons.png");
}
.button-tab:hover{
  background-color:transparent;
  background-position: -64px 0;
}
.button-tab:active, .button-tab.active{
  background-color:transparent;
  background-position: -128px 0;
}
.button-tab:after{
  content:"";
  position: absolute;
  top: 3px;
  left: 8px;
  width: 48px;
  height: 48px;
  background: url("/assets/icons.png");
}
.button-tab:active:after, .button-tab.active:after{
  top: 7px;
}
.button-tab--tchat:after{
  background-position: -48px 0;
}
