#button-tabs{
  height: 64px;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  min-width: 96px;
  height:100vh;
  padding: 16px;
  background: rgba(0, 0, 0, .5);
  z-index: 2000;
  border-right: 2px solid rgba(0, 0, 0, .8);
}
.button-tab{
  width: 64px;
  height: 64px;
  position: relative;
  background: url("/assets/buttons.png");
}
.button-tab:hover{
  background-color:transparent;
  background-position: -64px 0;
}
.button-tab:active, .button-tab.active{
  background-color:transparent;
  background-position: -128px 0;
}
.button-tab:after{
  content:"";
  position: absolute;
  top: 3px;
  left: 8px;
  width: 48px;
  height: 48px;
  background: url("/assets/icons.png");
}
.button-tab:active:after, .button-tab.active:after{
  top: 7px;
}
.button-tab--chat:after{
  background-position: -48px 0;
}
